<%- include("partials/navbar" , {title : "Homepage"}) %>
    <!-- catat welcome -->
    <section id="create" style="margin-top: 4rem;">
      <div class="container">
        <div class="row text-center">
          <div class="col mb-10">
            <h2 class="catat">Catat Pembeli App</h2>
            <div class="d-grid gap-2 col-6 mx-auto">
              <a class="btn btn-primary mb-3 tombol" href="/addlist " role="button">Buat laporan</a>

            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- akhir catat welcome -->
  </body>
</html>
